//
//
//
// $STAR_RATING
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Base style for the star rating component
// @end

// <section> primary container
.stars {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  // Class added when disabled
  &--disabled {
    pointer-events: none;
  }

  // individual star
  &__star {
    display: inline-block;

    &.ng-click-active {
      animation: pulseInvertLarge 200ms;
    }

    .icon {
      pointer-events: none;
    }
  }
}

